<div class="container wiki-module">
  <div class="panel panel-default">
    <div class="panel-heading" id="my-ph-show">
        <h2 class="wiki-header"><%= @wiki.title %></h2>
    </div>
    <div class="panel-body" id="my-pb-show">
        <p><%= @wiki.body %></p>
    </div>
  </div>
  
  <div class="wiki-btn text-center">
    <%= link_to "Edit", edit_wiki_path, class:'btn my-btn' %>
  </div>
  <div class="col-md-12">
     <%= link_to ('<i class="fa fa-arrow-left" aria-hidden="true"></i>').html_safe, :back %> <%= link_to "Back", :back %>
  </div>
</div>


