<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oswald|Special+Elite', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body class="bg">
   
    <div class="container standard-menu">
      <ul class="nav nav-pills" id="top-nav">
        <li role="presentation"><%= link_to "Home", root_path %></li>
        <li role="presentation"class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Wikis <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Public Wikis', wikis_path %></li>
              <% if user_is_premium %>
                <li><a href="#">Private Wikis</a></li>
              <% end %>
            </ul>
        
        </li>
        <li role="presentation"><a href="#">Users</a></li>

        <ul class="pull-right" id="sign-in-nav">
          <% if user_signed_in? %>
            <li><i class="fa fa-user-circle" aria-hidden="true"></i> <%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li> - 
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> <i class="fa fa-sign-out" aria-hidden="true"></i></li>
          <% else %>
            <li><i class="fa fa-user-circle" aria-hidden="true"></i> <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> - </li>
            <li><%= link_to "Log In", new_user_session_path, :class => 'navbar-link'  %> <i class="fa fa-sign-in" aria-hidden="true"></i></li> 
          <% end %>
        </ul>
      </ul>
    </div>
    
    <div class="container mobile-menu">
      <div role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-bars fa-2x pull-right" aria-hidden="true"></i> 
          </a>
          <ul class="dropdown-menu pull-right">
            <li role="presentation"><%= link_to "Home", root_path %></li>
            <li><%= link_to 'Public Wikis', wikis_path %></li>
            <% if user_is_premium %>
                <li><a href="#">Private Wikis</a></li>
            <% end %>
            <% if user_signed_in? %>
              <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li><li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Log In", new_user_session_path, :class => 'navbar-link' %></li> 
            <% end %>
          </ul>
      </div>
    </div>
    
    <div class="container text-center">
      <div class="row head-row">
          <div class="col-md-12">
              <h1 class="header display-1"><span class="accent-word-3">Blocipedia:</span> Social, Markdown Wikis</h1>
          </div>
      </div>
    </div>

    <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
    <% end %>
       
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
